.inputBox {
  border: 0;
  outline: none;
}

input:disabled {
  background: white;
}

::placeholder {
  color: #c0c0c0;
}

.validInput {
}

.invalidInput {
  /* styles for invalid input */
}

.inputLabel {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
 }
