.container {
  padding: 2%;
}

.actionsAndStandard {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid #e2d9d9;
}

.action {
  flex: 20%;
}

.standard {
  flex: 80%;
}

.button {
  padding: 1rem 0;
}